<!DOCTYPE html>
{%load staticfiles %}
<html lang="ko">

<head>
  <title>My Little Lotto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
body  {opacity:0;}

</style>
<body>
  <button type = "button " id = "good" type="submit" class="btn btn-info">좋아요👍</button>
  <button id = "soso" type="submit" class="btn btn-success">보통이에요👊</button>
  <button id = "bad" type="submit" class="btn btn-danger">별로에요👎</button>
  <ul id="positive" class = "list-group">
    {% for comment in cmts%}
      {% if comment.label == 2 %}
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              {% if comment.randnum == 1 %}
                <img src="{% static "img/img_avatar1.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 2 %}
                <img src="{% static "img/img_avatar2.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 3 %}
                <img src="{% static "img/img_avatar3.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 4 %}
                <img src="{% static "img/img_avatar4.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 5 %}
                <img src="{% static "img/img_avatar5.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 6 %}
                <img src="{% static "img/img_avatar6.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 7 %}
                <img src="{% static "img/img_avatar7.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 8 %}
                <img src="{% static "img/img_avatar8.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %} 
              {% if comment.randnum == 9 %}
                <img src="{% static "img/img_avatar9.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}           
              </div>
            <div class="media-body">
            <div style="float:left"><strong>{{comment.author}}</strong> {{comment.period}} &nbsp </div>
 

              <div class="btn-group">
                  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                     변경하기</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/1">보통이에요👊로 변경</a>
                    <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/0">별로에요👎로 변경</a>
                  </div>
              </div>

              <br>
              <div>{{comment.cmt}}</div>

            </div>
          </div>

        </li>

      {% else %}
      {% endif %}
    {% endfor %}
  </ul>

  <ul id="negative" class = "list-group">
    {% for comment in cmts%}
      {% if comment.label == 0 %}
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              {% if comment.randnum == 1 %}
                <img src="{% static "img/img_avatar1.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 2 %}
                <img src="{% static "img/img_avatar2.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 3 %}
                <img src="{% static "img/img_avatar3.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 4 %}
                <img src="{% static "img/img_avatar4.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 5 %}
                <img src="{% static "img/img_avatar5.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 6 %}
                <img src="{% static "img/img_avatar6.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 7 %}
                <img src="{% static "img/img_avatar7.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 8 %}
                <img src="{% static "img/img_avatar8.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %} 
              {% if comment.randnum == 9 %}
                <img src="{% static "img/img_avatar9.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}           
              </div>
           <div class="media-body">
            <div style="float:left"><strong>{{comment.author}}</strong> {{comment.period}} &nbsp </div>

              <div class="btn-group">

                  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                     변경하기</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/2">좋아요👍로 변경</a>
                    <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/1">보통이에요👊로 변경</a>
                  </div>
              </div><br>
            <div>{{comment.cmt}}</div>

          </div>

        </li>

      {% else %}
      {% endif %}
    {% endfor %}
  </ul>
  <ul id="netural" class = "list-group">
    {% for comment in cmts%}
      {% if comment.label == 1 %}
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              {% if comment.randnum == 1 %}
                <img src="{% static "img/img_avatar1.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 2 %}
                <img src="{% static "img/img_avatar2.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 3 %}
                <img src="{% static "img/img_avatar3.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 4 %}
                <img src="{% static "img/img_avatar4.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 5 %}
                <img src="{% static "img/img_avatar5.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 6 %}
                <img src="{% static "img/img_avatar6.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 7 %}
                <img src="{% static "img/img_avatar7.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}
              {% if comment.randnum == 8 %}
                <img src="{% static "img/img_avatar8.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %} 
              {% if comment.randnum == 9 %}
                <img src="{% static "img/img_avatar9.png" %}" class="media-object" style="width:40px">
              {% else %}
              {% endif %}           
              </div>
           <div class="media-body">
            <div style="float:left"><strong>{{comment.author}}</strong> {{comment.period}} &nbsp </div>
 

              <div class="btn-group">
                  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                     변경하기</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/2">좋아요👍로 변경</a>
                    <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/0">별로에요👎로 변경</a>
                  </div>
              </div>
            <br>
             <div>{{comment.cmt}}</div>

          </div>

        </li>

      {% else %}
      {% endif %}
    {% endfor %}
  </ul>

</body>

<script>
window.onload = function() {setTimeout(function(){document.body.style.opacity="100";},10);};

$(document).ready(function(){
  $("#positive").hide();
  $("#negative").hide();
  $("#netural").hide();

  $("#good").on("click",function(event){
    $("#positive").toggle();
    $("#bad").on("click",function(event){
      $("#positive").hide();
    });
     $("#soso").on("click",function(event){
      $("#positive").hide();
    });
  });

  $("#soso").on("click",function(event){
    $("#netural").toggle();
    $("#good").on("click",function(event){
      $("#netural").hide();
    });
    $("#bad").on("click",function(event){
      $("#netural").hide();
    });
  });
  $("#bad").on("click",function(event){
    $("#negative").toggle();
    $("#good").on("click",function(event){
      $("#negative").hide();
    });
     $("#soso").on("click",function(event){
      $("#negative").hide();
    });
  });
});
</script>

</html>
