<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="tr">
{% load staticfiles %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>유튜브 감성분석 - 유감dd</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/user.css' %}">
<link rel="stylesheet" href="{% static 'css/webcam.css' %}">
<link rel="stylesheet" href="{% static 'css/tooltip.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>

section {
  width: 80%;
}

@font-face {
  font-family: "baedal";
  src: url("/static/font/BMHANNAPro.ttf") format('truetype');
}

div {
  font-family: "baedal";
}

a {
  font-family: "나눔고딕";
}

.navbar-default{
  background-color: white;
}

.btn-secondary{
        font-family: "baedal";
        color:white;
        background-color:rgb(255,051,051);
        border-color: rgb(255,051,051);
        opacity: 0.3;
        font-size: 15px;
        border-color:
     }

.btn-group{
  height:10%;
}


.btn-secondary:hover, .btn-success:active, .btn-success:focus {
       color:white;
       background-color: rgb(255,051,051);
     }

.bg-warning{
  font-family: "baedal";
  border-radius: 8px 8px;
  border: 0px;
  margin-left: 15px;
  margin-top:10px;
  width:100%;
  height: 15%;
}

.bg-danger{
  font-family: "baedal";
  border-radius: 8px 8px;
  border: 0px;
  margin-right: 20px;
  margin-top:10px;
  width:100%;
  height: 15%;
}

.btn.outline {
    background: #d0e5fc;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #d0e5fc;
    color: #183f80;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #000;
    border-color: #d0e5fc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #f9b3ba;
    color: #f9b3ba;
    box-shadow: none;
}
</style>
<header>
    <!--  3등분으로 나누어 어떤 모듈인지  -->

    <div class = "row">

          <div class="col" style="text-align: center; margin-top:10px;">

            <div class="robot slideInUp animated">
                <div class="tooltip bg" style="font-size:15px; padding-top:10px;"> 웹캠 켜서 표정 제공하기 !</div>

                <a class="bg" style="padding-top:40px; color:white">
                    ON AIR
                </a>


                <div class="wave"></div>
            </div>

              <!-- left-top -->
              <div class="card bg-warning text-white" >
                  <div class="card-body">비디오 분석</div>
                </div>
                <div class="card bg-warning text-white" style="border-radius: 0px 0px; opacity:0.4;">
                    <div class="card-body">크리에이터 타임 로그</div>
                  </div>
                <div class="box" style="background-color: white; margin-left:15px;" >

              </div>


          </div>



          <div class="col-5" style="text-align:center; background-color:white; margin-bottom:10px;margin-top:10px;height:315px;">

            <iframe width="560" height="315" src="{{iframe_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style=" width:100%; height:100%;">
              </iframe>
            <p>유튜브 영상 제목입니다.</p>
          </div>

          <div class="col" style="text-align: center; background-color: white; margin-top:10px;">

            <div class="card bg-danger text-white">
                <div class="card-body" >댓글 6가지 감성 분석</div>
              </div>
              <div class="card bg-danger text-white" style="width:92%; border-radius: 0px 0px; height:11%; opacity:0.3; margin-top:10px">
                <div class="card-body">댓글 6감정 분류 그래프</div>
              </div>
            <div class="box" style="background-color: white; margin-left:15px;">

              <section>
              <canvas id="myChart" width="200" height="200" style="margin-left:15px"></canvas>
              </section>
              <script>var ans = JSON.parse("{{ count }}");
              </script>

              <script src="{% static 'chart_js/Chart.js' %}"></script>


            </div>
            <!-- right-top -->
          </div>

    </div>

</header>

<body>

    <div class="row">

            <!-- left partition -->
            <div class="col">

                     <!-- 영상 분석 모듈이 들어갈 부분 --->
                    <div class="row">
                      <div class="card bg-warning text-white" style="width:90%; border-radius: 0px 0px; height:10%; opacity:0.4">
                          <div class="card-body">영상 감정 그래프</div>
                        </div>
                        <div class="box" style="background-color: white; margin-left:25px;" >

                        </div>


                  </div>
          </div>


            <!-- wider -->
            <!-- center partition -->
            <div class="col-5">

                      <!-- 유튜브 영상 삽입 -->
                      <!-- <div style="position: relative; height:0; padding-bottom: 56.25%;">

                        </div> -->
                        <div class="box" style="margin-top:5%">
                          <button type = "button " id = "good" type="submit" class="btn btn-primary btn-lg outline">좋아요👍</button> &nbsp&nbsp&nbsp
                          <button id = "soso" type="submit" class="btn btn-primary btn-lg outline">보통이에요👊</button> &nbsp&nbsp&nbsp
                          <button id = "bad" type="submit" class="btn btn-primary btn-lg outline">별로에요👎</button>
                          <ul style="margin-top:20px;"id="positive" class = "list-group">
                            {% for comment in cmts%}
                              {% if comment.label == 2 %}
                                <li class="list-group-item">
                                  <div class="media">
                                    <div class="media-left">
                                      {% if comment.randnum == 1 %}
                                        <img src="{% static "img/img_avatar1.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 2 %}
                                        <img src="{% static "img/img_avatar2.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 3 %}
                                        <img src="{% static "img/img_avatar3.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 4 %}
                                        <img src="{% static "img/img_avatar4.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 5 %}
                                        <img src="{% static "img/img_avatar5.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 6 %}
                                        <img src="{% static "img/img_avatar6.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 7 %}
                                        <img src="{% static "img/img_avatar7.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 8 %}
                                        <img src="{% static "img/img_avatar8.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 9 %}
                                        <img src="{% static "img/img_avatar9.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      </div>
                                   <div class="media-body">
                                      <div style="float:left"><strong>{{comment.author}}</strong> {{comment.period}} &nbsp</div>
                                        <button style="float:left;" type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal{{comment.cid}}">변경하기</button>
                                          <!-- The Modal -->
                                        <div class="modal" id="myModal{{comment.cid}}">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title">사용자 추론 변경</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                              <!-- Modal body -->
                                              <div class="modal-body">
                                               <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/1">보통이에요👊로 변경 </a>
                                               <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/0">별로에요👎로 변경</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                      <div style="clear:left;margin-top:15px;float:left;margin-right:20px; ">{{comment.cmt}}</div>
                                    </div>


                                  </div>

                                </li>

                              {% else %}
                              {% endif %}
                            {% endfor %}
                          </ul>

                          <ul style="margin-top:20px;" id="negative" class = "list-group">
                            {% for comment in cmts%}
                              {% if comment.label == 0 %}
                                <li class="list-group-item">
                                  <div class="media">
                                    <div class="media-left">
                                      {% if comment.randnum == 1 %}
                                        <img src="{% static "img/img_avatar1.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 2 %}
                                        <img src="{% static "img/img_avatar2.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 3 %}
                                        <img src="{% static "img/img_avatar3.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 4 %}
                                        <img src="{% static "img/img_avatar4.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 5 %}
                                        <img src="{% static "img/img_avatar5.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 6 %}
                                        <img src="{% static "img/img_avatar6.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 7 %}
                                        <img src="{% static "img/img_avatar7.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 8 %}
                                        <img src="{% static "img/img_avatar8.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 9 %}
                                        <img src="{% static "img/img_avatar9.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      </div>

                                      <div class="media-body">
                                      <div style="float:left"><strong>{{comment.author}}</strong> {{comment.period}} &nbsp</div>
                                     <button style="float:left;" type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal{{comment.cid}}">변경하기</button>
                                          <!-- The Modal -->
                                        <div class="modal" id="myModal{{comment.cid}}">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title">사용자 추론 변경</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/2">좋아요👍로 변경</a>
                                            <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/1">보통이에요👊로 변경</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      <div style="clear:left;margin-top:15px;float:left;margin-right:20px; ">{{comment.cmt}}</div>
                                    </div>


                                </li>

                              {% else %}
                              {% endif %}
                            {% endfor %}
                          </ul>


                          <ul style="margin-top:20px;" id="netural" class = "list-group">
                            {% for comment in cmts%}
                              {% if comment.label == 1 %}
                                <li class="list-group-item">
                                  <div class="media">
                                    <div class="media-left">
                                      {% if comment.randnum == 1 %}
                                        <img src="{% static "img/img_avatar1.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 2 %}
                                        <img src="{% static "img/img_avatar2.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 3 %}
                                        <img src="{% static "img/img_avatar3.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 4 %}
                                        <img src="{% static "img/img_avatar4.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 5 %}
                                        <img src="{% static "img/img_avatar5.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 6 %}
                                        <img src="{% static "img/img_avatar6.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 7 %}
                                        <img src="{% static "img/img_avatar7.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 8 %}
                                        <img src="{% static "img/img_avatar8.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      {% if comment.randnum == 9 %}
                                        <img src="{% static "img/img_avatar9.png" %}" class="media-object" style="width:40px">
                                      {% else %}
                                      {% endif %}
                                      </div>

                                  <div class="media-body">
                                      <div style="float:left"><strong>{{comment.author}}</strong> {{comment.period}} &nbsp</div>

                                       <button style="float:left;" type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal{{comment.cid}}">변경하기</button>
                                          <!-- The Modal -->
                                        <div class="modal" id="myModal{{comment.cid}}">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title">사용자 추론 변경</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/2">좋아요👍로 변경</a>
                                            <a class="dropdown-item" href="/yougam/{{comment.video}}/change/{{ comment.cid }}/0">별로에요👎로 변경</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      <div style="clear:left;margin-top:15px;float:left;margin-right:20px; ">{{comment.cmt}}</div>
                                    </div>


                                </li>

                              {% else %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>


            </div>



            <!-- right partition -->
            <div class="col">

                    <!-- 댓글 모듈 부분 -->
                    <div class="row" >
                      <div class="card bg-danger text-white" style="width:90%; border-radius: 0px 0px; height:11%; opacity:0.3;">
                        <div class="card-body">워드클라우드</div>
                      </div>
                          <div class="box" style="background-color: white; margin-left:15px">

                            <div class="btn-group" role="group" aria-label="Basic example" style="margin-top:10px; margin-right:30px;">
                              <button type="button" class="btn btn-secondary" id = "neutral">중립</button>
                              <button type="button" class="btn btn-secondary" id = "happy">행복</button>
                              <button type="button" class="btn btn-secondary" id = "sad">슬픔</button>
                              <button type="button" class="btn btn-secondary" id = "surprise">놀람</button>
                              <button type="button" class="btn btn-secondary" id = "anger">화남</button>
                              <button type="button" class="btn btn-secondary" id = "fear">두려움</button>
                            </div>
                            <div>
                              <img id ="wc" src = "/static/wordcloud_dataset/wordcloud_img/happy/9_happy.png" width = "320" height = "320" style="margin-top:10px; margin-right:30px;">
                            </div>
                          </div>

                              </div>
                            <script>
                            window.onload = function() {
                              var ctx = document.getElementById('myChart');
                              console.log(ans)
                              var myChart = new Chart(ctx, {
                                type: 'radar',
                                data: {
                                    labels:  ['중립', '행복', '슬픔', '놀람', '화남', '두려움'],
                                    datasets: [{
                                      label: 'sentiment',
                                      backgroundColor: "rgba(200,0,0,0.2)",
                                      data: ans
                                    }]
                                }
                            });

                              var vid = {{video_id}};
                              vid = String(vid);
                              var image = document.getElementById('wc');
                              var senti = 'neutral';
                              var wc_path = "/static/wordcloud_dataset/wordcloud_img/neutral/" + vid + "_" + senti + ".png";
                              wc.src = wc_path;
                              console.log(wc_path);
                            }


                            </script>

                          </div>

                    </div>

            </div>

      </div>

    </div>
</body>



<script>
$(document).ready(function(){
  $("#positive").hide();
  $("#negative").hide();
  $("#netural").hide();

  $("#good").on("click",function(event){
    $("#positive").toggle();
    $("#bad").on("click",function(event){
      $("#positive").hide();
    });
     $("#soso").on("click",function(event){
      $("#positive").hide();
    });
  });

  $("#soso").on("click",function(event){
    $("#netural").toggle();
    $("#good").on("click",function(event){
      $("#netural").hide();
    });
    $("#bad").on("click",function(event){
      $("#netural").hide();
    });
  });
  $("#bad").on("click",function(event){
    $("#negative").toggle();
    $("#good").on("click",function(event){
      $("#negative").hide();
    });
     $("#soso").on("click",function(event){
      $("#negative").hide();
    });
  });

  var vid = {{video_id}};
  console.log(vid);
  vid = String(vid);
  var image = document.getElementById('wc');
  $("#neutral").on("click",function(event){
    var senti = 'neutral'
    var wc_path = "/static/wordcloud_dataset/wordcloud_img/neutral/" + vid + "_" + senti + ".png";
    wc.src = wc_path;
    console.log(wc_path)
  });
  $("#happy").on("click",function(event){
    var senti = 'happy'
    var wc_path = "/static/wordcloud_dataset/wordcloud_img/happy/" + vid + "_" + senti + ".png";
    wc.src = wc_path;
    console.log(wc_path)
  });
  $("#sad").on("click",function(event){
    var senti = 'sad'
    var wc_path = "/static/wordcloud_dataset/wordcloud_img/sad/" + vid + "_" + senti + ".png";
    wc.src = wc_path;
    console.log(wc_path)
  });
  $("#surprise").on("click",function(event){
    var senti = 'surprise'
    var wc_path = "/static/wordcloud_dataset/wordcloud_img/surprise/" + vid + "_" + senti + ".png";
    wc.src = wc_path;
    console.log(wc_path)
  });
  $("#anger").on("click",function(event){
    var senti = 'anger'
    var wc_path = "/static/wordcloud_dataset/wordcloud_img/anger/" + vid + "_" + senti + ".png";
    wc.src = wc_path;
    console.log(wc_path)
  });
  $("#fear").on("click",function(event){
    var senti = 'fear'
    var wc_path = "/static/wordcloud_dataset/wordcloud_img/fear/" + vid + "_" + senti + ".png";
    wc.src = wc_path;
    console.log(wc_path)
  });


});

</script>

</html>