django==2.2
nltk==3.4.1
tensorflow==1.13.1
keras==2.2.4
requests==2.22.0
pandas==0.24.2
numpy==1.16.3
matplotlib==3.0.3
numpy==1.16.3
pillow==9.3.0
konlpy==0.5.1
jpype1==0.6.3
google-cloud-translate==1.4.0
google-cloud-storage==1.14.0
google-auth==1.6.3
mock==2.0.0
wordcloud==1.5.0
youtube-dl
xgboost==0.90
bs4
python-dateutil
opencv-python